.scrollable {
    max-width: 100%;
    max-height: 50vh;
    overflow: auto;
    color: #fdfdfd;
    color: black;
}


.scrollable input{
    width: 100%;
}

.scrollable::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    padding: 0;
}
  
.scrollable::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.4);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.scrollable::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.scrollable::-webkit-scrollbar-corner {
    background-color: transparent;
} 



.bubble {
  height: 100%;
  width: 100%;
  min-width: 240px;
  min-height: 250px;
  background-color: #4f71bd;
  background-color: #F2F6FF;
  background-color: #fdfdfd;
  padding: 25px;
  padding-top: 0px;
  border-radius: 20px;
  margin-top: 20px;

  /* position must be sticky to avoid shadow problems */
  position: sticky; 
  -webkit-position: sticky;
  -moz-position: sticky;

  -webkit-box-shadow: 0 0 10px #c2c4ca;
    -moz-box-shadow: 0 0 10px #c2c4ca;
    box-shadow: 0 0 10px #c2c4ca;


}