* { box-sizing: border-box; }

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 100%;
}

.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  color: black;
  overflow: auto;
  max-height: 200px;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color:  #fdfdfd;
  border: 1px solid #d4d4d4;
  /* make top borders zero so we don't have overlap */
  border-top: 0px; 
  
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color:   #4f71bd !important;
  color:  #fdfdfd;
}