html {
    font-family:  'Comfortaa', Arial, "Oswald", Helvetica, sans-serif;
    padding: env(safe-area-inset);
}
  
body {
    font-family:  'Comfortaa', Arial, "Oswald", Helvetica, sans-serif;
}
  
pre, code, kbd, samp {
    font-family:  'Comfortaa', Arial, "Oswald", Helvetica, sans-serif;
}
  
input, button, select, optgroup, textarea {
    font-family:  'Comfortaa', Arial, "Oswald", Helvetica, sans-serif;
}

body {
    background-color: #fcfaf1;
}

input {
    border: 1px solid transparent;
    background-color: #fcfaf4;
    padding: 10px;
  }


  /* get rid of number arrows */
  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-group input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    box-shadow: none;
    padding: 10px;
}

.input-group  {
    margin-bottom: 10px;
    margin-top: 0px;
}

input[type=text] {
    background-color: #f1f1f1;
}
input[type=number] {
    background-color: #f1f1f1;
}
input[type=submit] {
    background-color: #4f71bd;
    color: #fff;
}
  
.tooltip {
    font-family:  'Comfortaa', "Oswald", Helvetica, Arial, sans-serif;
}
  
.popover {
    font-family:  'Comfortaa', "Oswald", Helvetica, Arial, sans-serif;
}
  
.text-monospace {
    font-family:  'Comfortaa', "Oswald", Helvetica, Arial, sans-serif;
}


/* @media only screen and (min-width: 1300px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1900px) {
    body {
        font-size: 20px;
    }
} */