<!DOCTYPE html>
 <html>
   <head>
      <title>Class-5</title>
      {% include 'import.html' %}
      <link rel="stylesheet" type="text/css" href="static/style/navbar.css" />
   </head>
   <body>
    {% with page='faq' %}
        {% include 'navbar.html' %}
      {% endwith %}      

      <div class='container-fluid' id='profile-body'>
        <div class='row text-center'><h3 id='header'>FAQ</h3></div>

        <div class='row'>
          <div class='col-md-2'></div>

        <div id='faq-holder' class='col-md-8'>
          <div class='question'>
            <h4>How does Class 5 work?</h4>
          </div>
          <div class='answer'>
            <p>Start by entering your basic information into your user profile and inputting 
              between 2-6 liked courses, 2-6 disliked courses, and your favorite “fifth” course (see 
              “What is a favorite ‘fifth’ course?” below). After populating your profile, head to the 
              Dashboard to get a curated list of suggestions based on your preferences. Under “Course Info”, 
              you can peruse additional course information and helpful insights to see whether a suggestion 
              is right for you.</p>
          </div>
          <br>
          <div class='question'>
            <h4>How does Class 5 get suggested courses?</h4>
          </div>
          <div class='answer'>
            <p>After providing your course preferences, you're given suggestions based on 
              preferences of similar users. For example, if you like COS 333, you’re more likely 
              to be suggested courses of users who also liked COS 333. Our algorithm is a bit more 
              complicated, but that’s the gist of it.</p>

          </div>
          <br>
          <div class='question'>
            <h4>What is a favorite “fifth” course?</h4>
          </div>
          <div class='answer'>
            <p>This could be a course you found fun, easy, or enjoyed in some way (maybe even 
              unexpectedly!). Often, a “fifth” course has nothing to do with your academic path at Princeton.</p>
          </div>
          <br>
          <div class='question'>
            <h4>What are “Filters”?</h4>
          </div>
          <div class='answer'>
            <p>
            Need to quickly find a 5th course? Looking for which courses to add to your 
            bucket list or which courses to avoid? Under “Filters”, click “Most Liked Courses,” 
            “Most Disliked Courses,” or “Top Fifth Courses” to see a list of the 50 most popular 
            Liked, Disliked or Fifth courses among all Class 5 users.
            </p>
          </div>
          <br>
          <div class='question'>
            <h4>How can I get new suggestions?</h4>

          </div>
          <div class='answer'>
            <p>“Disliking” a suggestion with the “x” button instantly eliminates it from your 
              list of suggestions and repopulates the list with an additional suggestion. You can get 
              up to 30 new suggestions after the 10 initially provided. If you run out of suggestions,
              refresh the page to get brand new suggestions.</p>
          </div>
          <br>
          <div class='question'>
            <h4>I removed a suggestion by accident, can I get it back?</h4>
          </div>
          <div class='answer'>
            <p>
              Absolutely! Head to the “Profile” page to remove any disliked suggestion, or clear 
            all of your disliked suggestions. After doing so, remember to save your changes!
            </p>
          </div>

          <div class='col-md-2'></div>
        </div>
        </div>
      </div>

    {% include 'footer.html' %}
    </body>

    <style>
      #faq-holder{
        min-height: 100vh;
        padding-top:15px;
        padding-bottom:30px;
      }

      .question {
        font-weight: bold;
        color: #4f71bd;
      }
    </style>
 </html>