
<nav class="navbar navbar-default navbar-static-top" role="navigation"">
    <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" id='nav-logo' href="home">
            <img src="/static/img/blue.png" alt=""/>
          </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
        {% if page == 'faq' %}
            <li><a href="home">HOME</a></li>
        {% else %}
            <li class="active"><a href="home">HOME</a></li>
        {%endif%}

        {% if session['logged_in'] == True %}
        <li><a href="profile">PROFILE</a></li>
        <li><a href="dashboard">DASHBOARD</a></li>

        {% if page == 'faq' %}
        <li class="dropdown active">
            <a href="faq" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FAQ <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="home#about">ABOUT</a></li>
            <li><a href="faq">FAQ</a></li>
            </ul>
        </li>
        {% else %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">INFO <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="home#about">ABOUT</a></li>
            <li><a href="faq">FAQ</a></li>
            </ul>
        </li>
        {% endif %}

        <li><a href="logout">LOGOUT</a></li>
        {% else %}
        <li><a href="dashboard">DASHBOARD</a></li>

        {% if page == 'faq' %}
        <li class="dropdown active">
            <a href="faq" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FAQ <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="home#about">ABOUT</a></li>
            <li><a href="faq">FAQ</a></li>
            </ul>
        </li>
        {% else %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">INFO <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="home#about">ABOUT</a></li>
            <li><a href="faq">FAQ</a></li>
            </ul>
        </li>
        {% endif %}

        <li><a href="login">LOGIN</a></li>
        {% endif %}
        </ul>
    </div>
    </div>
</nav> 




